$body-text-color: black;
$code-background-color: #fdfdfd;
$link-color: #f86933;
$sidebar-color: #272523;
$code-background-color: white;
$border-color: #f1f1f1;
$body-text-color: #272523;
$body-heading-color: #272523;
