<nav class="nav">
  <ul class="nav-list">
  {%- assign pages_list = site.pages | sort: 'nav_order' -%}
  {% for node in pages_list %}
    {%- unless node.nav_exclude -%}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <li>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">
            {{ node.nav_title | default: node.title }}
          </a>
        </li>
      {% endif %}
    {% endif %}
    {%- endunless -%}
  {% endfor %}
  </ul>
</nav>
