<aside class="sidebar">
  <input id="menu-toggle" type="checkbox">
  <header class="header">
    <a href="{{ site.url }}{{ site.baseurl }}" class="title">
      <div class="logo">
        {% include_relative logo.svg %}
      </div>
      <div class="logo-text">
        Molten C
      </div>
    </a>
    <label class="menu" for="menu-toggle" tabindex="1">
      <svg viewBox="0 0 100 80" width="40" height="40">
        <rect width="100" height="10"></rect>
        <rect y="40" width="100" height="10"></rect>
        <rect y="80" width="100" height="10"></rect>
      </svg>
    </label>
  </header>
  {% include nav.html %}
</aside>
