@media (prefers-color-scheme: dark) {
  body {
    background: #2d2b2b;
    color: #bfadad;
  }

  hr {
    background-color: #484242;
  }

  .header .menu rect {
    fill: #d4cfc4;
  }

  pre {
    background: #272525;
  }
}
