.header {
  height: 3.75rem;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
}

.sidebar input {
  display: none;
}

.nav {
  display: none;
}

.sidebar input:checked ~ .nav {
  display: block;
}

.sidebar input:checked ~ .header .menu rect {
  fill: #f86933;
}

.title {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
}

.logo svg {
  width: 3.75rem;
  height: 3.75rem;
}

.nav-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  display: block;
  padding-top: .1rem;
  padding-bottom: .1rem;

  &.active {
    font-weight: 600;
    color: inherit;
  }
}

.nav {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  flex: 1 1 auto;
}

@media (min-width: 55rem) {
  .nav {
    display: block;
    padding-top: 3rem;
    padding-bottom: 1rem;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}
